<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/login-page.css">
    <title>Login</title>
</head>
<body>
<section class="site-header">
    <p class="header-text">Image manager</p>
</section>
<div class="login-form-wrapper">
    <div class="login-header-wrapper">
        <p class="login-header">Авторизация</p>
    </div>
    <form id="loginForm" v-on:submit.prevent="submit" action="#" method="post" class="login-form">
        <p v-if="showErrorLoginMessage" class="error-login">Неверный логин или пароль!</p>
        <input type="text" v-model="login" class="login-input" placeholder="Логин" required>
        <input type="password" v-model="password" class="login-input login-input-pass" placeholder="Пароль" required>
        <button type="submit" class="login-btn">Войти</button>
    </form>
    <div class="login-footer-wrapper">
        <a class="login-footer-text1" href="#">Регистрация</a>
        <a class="login-footer-text2" href="#">Забыли пароль?</a>
    </div>
</div>
{{>footer}}
<script src="/js/vue.js"></script>
<script src="/js/login.js"></script>
</body>
</html>