@font-face{
    font-family: "Roboto";
    src: url("../fonts/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face{
    font-family: "Roboto";
    src: url("../fonts/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face{
    font-family: "Roboto";
    src: url("../fonts/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face{
    font-family: "Roboto";
    src: url("../fonts/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}