@import "main.css";
body{
	padding-bottom: 80px;
	background-color: #e6e5cf;
}
.user-info{
	display: flex;
	align-items: center;
}
.user-text{
	color: #ffffff;
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
}
.user-text:hover{
	opacity: 0.8;
}
.user-avatar-link{
	width: 40px;
	height: 40px;
	margin-left: 10px;
}
.user-avatar-img-min{
	width: inherit;
	height: inherit;
	border-radius: 50%;
}
.user-avatar-img-min:hover{
	opacity: 0.8;
}
.content-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px auto 0;
	width: 1050px;
	height: 630px;
}
.gallery-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 930px;
	height: 630px;
}
.image-block{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	background-color: green;
	overflow: hidden;
}
.image-block img{
	width: auto;
	height: 100%
}
.control-btn{
	position: relative;
	width: 50px;
	height: 100px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
.control-btn.disabled{
	opacity: 0.3;
	pointer-events: none;
}
.control-btn:before,
.control-btn:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 40px;
	height: 4px;
	background-color: #727070;
	border-radius: 2px;
	transform: translateY(-13px) rotate(-45deg);
}
.control-btn:after{
	transform: translateY(13px) rotate(45deg);
}
.next-btn:before,
.next-btn:after{
	left: auto;
	right: 0;
}
.next-btn:before{
	transform: translateY(-13px) rotate(45deg);
}
.next-btn:after{
	transform: translateY(13px) rotate(-45deg);
}
.control-btn:hover:before,
.control-btn:hover:after{
	background-color: #2f3d4c;
}