@import "main.css";
body{
	position: relative;
	padding-bottom: 80px;
	background-color: #e6e5cf;
}
/* Main content */
.content-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px auto 0;
	width: 1050px;
}
.gallery-panel{
	display: flex;
	justify-content: space-between;
	width: 930px;
}
/* Category */
.categories-wrapper{
	display: flex;
	flex-wrap: wrap;
	width: 830px;
}
.category-btn{
	margin: 0 20px 20px 0;
	background-color: #c3c1b2;
}
.category-btn:hover{
	opacity: 1;
	background-color: #2f3d4c;
}
.category-btn.active{
	background-color: #2f3d4c;
}
.category-btn-edit{
	width: 45px;
	height: 45px;
	padding: 0;
	box-shadow: none;
	background: url("/img/edit-icon-blue.png") no-repeat center/contain;
}
/*  add new image button */
.add-new-image-btn{
	height: 50px;
	font-size: 16px;
}
.add-new-image-btn.disable{
	pointer-events: none;
	opacity: 0.7;
}
/* Gallery */
.gallery-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1050px;
	height: 630px;
	margin-top: 10px;
}
.gallery{
	display: flex;
	flex-wrap: wrap;
	width: 930px;
	height: 630px;
}
.image-block{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px 10px 0;
	width: 300px;
	height: 300px;
	overflow: hidden;
}
.image-block img{
	width: auto;
	height: 100%;
	cursor: pointer;
}
.image-block:hover .image-block-control{
	transform: translateY(0);
}
/* Image Block Control Block */
.image-block-control{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #2f3d4c;
	transform: translateY(100px);
	transition: transform 0.5s;
}
.image-block-control-delete{
	position: absolute;
	top: 15px;
	right: 10px;
	width: 30px;
	height: 30px;
	background: url("/img/remove-icon.png") no-repeat center/cover;
	border: none;
	outline: none;
	cursor: pointer;
	opacity: 0.9;
}
.image-block-control-delete:hover{
	opacity: 1;
}
.image-block-control-show{
	position: absolute;
	top: 15px;
	left: 10px;
	width: 50px;
	height: 30px;
	background: url("/img/show-icon.png") no-repeat center/contain;
	border: none;
	outline: none;
	cursor: pointer;
	opacity: 0.9;
}
.image-block-control-show:hover{
	opacity: 1;
}
/* Controls */
.control-btn{
	position: relative;
	width: 50px;
	height: 100px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
.control-btn.disabled{
	opacity: 0.3;
	pointer-events: none;
}
.control-btn:before,
.control-btn:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 40px;
	height: 4px;
	background-color: #727070;
	border-radius: 2px;
	transform: translateY(-13px) rotate(-45deg);
}
.control-btn:after{
	transform: translateY(13px) rotate(45deg);
}
.next-btn:before,
.next-btn:after{
	left: auto;
	right: 0;
}
.next-btn:before{
	transform: translateY(-13px) rotate(45deg);
}
.next-btn:after{
	transform: translateY(13px) rotate(-45deg);
}
.control-btn:hover:before,
.control-btn:hover:after{
	background-color: #2f3d4c;
}
/* Popup file upload form */
.popup-file-upload-form{
	display: none;
	box-sizing: border-box;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	padding: 30px 35px 20px 35px;
	background-color: #c3c1b2;
	border-radius: 20px;
}
.popup-file-upload-form.active{
	display: block;
}
.close-file-upload-form{
	position: absolute;
	top: 3px;
	right: 3px;
	width: 30px;
	height: 30px;
	border: 0;
	outline: 0;
	background: none;
	cursor: pointer;
}
.close-file-upload-form:before,
.close-file-upload-form:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	height: 2px;
	background-color: red;
	border-radius: 2px;
	transform: translate(-50%, -50%) rotate(45deg);
}
.close-file-upload-form:after{
	transform: translate(-50%, -50%) rotate(-45deg);
}
.file-drop-zone{
	width: 100%;
	height: 280px;
	border: 2px dashed #2f3d4c;
}
.file-drop-zone.active{
	border-color: #3ba3fb;
}
.file-upload-label{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.file-upload-label-text{
	margin: 0 0 15px 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #2f3d4c;
}
.btn-file-upload{
	pointer-events: none;
}
.file-upload-input{
	display: none;
}
.progress-bar{
	margin-top: 10px;
}
.preview-list{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: auto;
	max-height: 200px;
	margin: 15px 0 10px 0;
	overflow: auto;
}
.preview-list img{
	width: auto;
	height: 100px;
	margin: 0 10px 10px 0;
}
.empty-category-message{
	display: none;
	width: 100%;
	margin: 100px auto 0;
	font-size: 32px;
	text-align: center;
	font-style: italic;
	color: #2f3d4c;
}
.empty-category-message.active{
	display: block;
}
/* Popup Full Img */
.popup-full-img{
	display: none;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
}
.popup-full-img img{
	display: flex;
	max-width: 95%;
	max-height: 100%;
}
.close-popup-full-img{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	border: 0;
	outline: 0;
	background: none;
	cursor: pointer;
}
.close-popup-full-img:before,
.close-popup-full-img:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 2px;
	background-color: red;
	border-radius: 2px;
	transform: translate(-50%, -50%) rotate(45deg);
}
.close-popup-full-img:after{
	transform: translate(-50%, -50%) rotate(-45deg);
}
.popup-full-img.opened{
	display: flex;
}
.popup-full-img .control-btn:before,
.popup-full-img .control-btn:after{
	background-color: #e6e5cf;
}
.popup-full-img .control-btn:hover:before,
.popup-full-img .control-btn:hover:after{
	opacity: 0.8;
}
.popup-full-img .previous-btn{
	margin-left: 20px;
}
.popup-full-img .next-btn{
	margin-right: 20px;
}