@import "fonts.css";
html{
	height: auto;
}
body{
	position: relative;
	margin: 0;
	font-family: Roboto, sans-serif;
}
.btn{
	height: 45px;
	padding: 0 20px;
	font-size: 22px;
	color: #ffffff;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: #2f3d4c;
	box-shadow: 2px 2px 10px 0 #727070;
	cursor: pointer;
}
.btn:hover{
	opacity: 0.9;
}
.btn:active{
	transform: translate(1px, 1px);
}
.site-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	padding: 0 20px;
	background-color: #2f3d4c;
}
.header-text{
	color: #ffffff;
	font-size: 24px;
}
.site-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	background-color: #2f3d4c;
}
.copyright{
	color: #ffffff;
	font-size: 16px;
}