@import "fonts.css";
html{
	min-height: 100%;
	height: auto;
}
body{
	margin: 0;
	font-family: Roboto, sans-serif;
	background-color: #e6e5cf;
}
.btn{
	height: 45px;
	padding: 0 20px;
	font-size: 22px;
	color: #ffffff;
	border: none;
	outline: none;
	border-radius: 10px;
	background-color: #2f3d4c;
	box-shadow: 2px 2px 10px 0 #727070;
	cursor: pointer;
}
.btn:hover{
	opacity: 0.9;
}
.btn:active{
	transform: translate(1px, 1px);
}
.site-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	padding: 0 20px;
	background-color: #2f3d4c;
}
.header-text-link{
	text-decoration: none;
}
.header-text{
	color: #ffffff;
	font-size: 24px;
}
.user-info{
	margin-left: auto;
	display: flex;
	align-items: center;
}
.user-text{
	color: #ffffff;
	font-weight: 500;
	font-size: 24px;
	text-decoration: none;
}
.user-text:hover{
	opacity: 0.8;
}
.user-avatar-link{
	width: 40px;
	height: 40px;
	margin-left: 10px;
}
.user-avatar-img-min{
	width: inherit;
	height: inherit;
	border-radius: 50%;
}
.user-avatar-img-min:hover{
	opacity: 0.8;
}
.log-out-btn{
	width: 40px;
	height: 40px;
	margin-left: 15px;
	border: none;
	outline: none;
	background: url("/img/exit-icon.png") no-repeat center/contain;
	cursor: pointer;
}
.log-out-btn:hover{
	opacity: 0.8;
}
.site-footer{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	background-color: #2f3d4c;
}
.copyright{
	color: #ffffff;
	font-size: 16px;
}