@import "main.css";
body{
	position: relative;
	padding-bottom: 80px;
}
.registry-form-wrapper{
	width: 1000px;
	margin: 50px auto 0;
}
.registry-header{
	margin: 0 0 20px 0;
	font-size: 36px;
	font-weight: bold;
	color: #2f3d4c;
}
.registry-form{
	display: block;
	width: 362px;
	padding-bottom: 40px;
}
.show-error-login-message{
	display: none;
	font-size: 18px;
	color: red;
}
.show-error-login-message.active{
	display: block;
}
.registry-input{
	display: block;
	width: 350px;
	height: 30px;
	margin-bottom: 20px;
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
	color: #757575;
	border: 1px solid #e0e0e0;
	outline: none;
}
.registry-btn{
	width: 100%;
}
.registry-btn.disable{
	pointer-events: none;
	opacity: 0.7;
}